## Question 1 Part 1:
### For each month in 2016, find out the percentage of collisions in Manhattan out of that year's total accidents in New York City

In [47]:
import pandas as pd
import datetime

In [48]:
df=pd.read_csv('C:/Users/Raksha/Desktop/Spring 2017/DATA Analysis/Intro to python/DataAnalysis4Python_Spring17/Assignments/Assignment 3/Data/vehicle_collisions.csv')

In [49]:
#Since date is of type object, it has been converted to the type datetime
df['DATE']=pd.to_datetime(df['DATE'], format='%m/%d/%y')

In [50]:
df_date=df['DATE']

In [51]:
#Extracting month and year from each date
df['Month'] = df['DATE'].map(lambda x: x.month)
df['Year'] = df['DATE'].map(lambda y: y.year)

In [52]:
#total collisions per month in NYC in 2016
totalCollisionsPerMonthInNYC=[0,0,0,0,0,0,0,0,0,0,0,0]
for x in range(1,13):
    for y in df[df.Year==2016].Month:
        if x==y:
            totalCollisionsPerMonthInNYC[y-1]+=1
totalCollisionsPerMonthInNYC

[18101,
 15985,
 18471,
 18331,
 20052,
 19433,
 19867,
 19678,
 19492,
 19666,
 19315,
 19214]

In [53]:
#total collisions per month in manhattan in 2016
totalCollisionsPerMonthInManhattan=[0,0,0,0,0,0,0,0,0,0,0,0]
for index, rows in df.iterrows():
    if((rows['BOROUGH']=='MANHATTAN')and(rows['Year']==2016)):
        for i in range(1,13):
            if i==rows['Month']:
                totalCollisionsPerMonthInManhattan[i-1]+=1
totalCollisionsPerMonthInManhattan

[3178, 3195, 3479, 3540, 3432, 2956, 3055, 2844, 2744, 2831, 2838, 2634]

In [54]:
#percentage of collisions each month in manhattan in 2016
percentageOfCollisionsPerMonth=[0,0,0,0,0,0,0,0,0,0,0,0]
for i in range(1,13):
    percentageOfCollisionsPerMonth[i-1]=(totalCollisionsPerMonthInManhattan[i-1]/totalCollisionsPerMonthInNYC[i-1])
percentageOfCollisionsPerMonth

[0.17557041047455943,
 0.19987488270253362,
 0.18834930431487196,
 0.19311548742567236,
 0.17115499700777978,
 0.15211238614727526,
 0.15377258770825994,
 0.14452688281329404,
 0.14077570285245228,
 0.14395403234007934,
 0.14693243593062386,
 0.13708754033517226]

In [55]:
df1=pd.DataFrame({'Month':['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'],'Manhattan':totalCollisionsPerMonthInManhattan,'NYC':totalCollisionsPerMonthInNYC,'Percentage':percentageOfCollisionsPerMonth})
df1.head()

   Manhattan Month    NYC  Percentage
0       3178   Jan  18101    0.175570
1       3195   Feb  15985    0.199875
2       3479   Mar  18471    0.188349
3       3540   Apr  18331    0.193115
4       3432   May  20052    0.171155

In [56]:
df1.to_csv('PercentageOfCollisions.csv', sep=';', encoding='utf-8')